:root{
    --color1:#318ADC;
    --color2:#21476B;
    --color3:#C4C4C4;
    --firstcolor:#1A1A1A;
}

/* 
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; 
*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:Roboto;
}

.container{
    max-width:1400px;
    margin:0 auto;
    padding:0 2%;
}

.fa{color: #fff;padding:10px;}

.fa-bars{display:none;cursor:pointer;transition:1s;}

.flex{
    width:100%;
    height:70px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    background-color:#000;
}

h2.name{
    font-size:28px;
    font-family: 'Roboto Condensed', sans-serif; 
    color:#fff;
    transition:1s;
}

nav.menu-mobile{
    width:100%;
    user-select: none;
}
nav.menu-mobile > ul{
    display:none;
    width:100%;
    text-align: center;
    background-color:#fff;
    list-style-type:none;
}

nav.menu-mobile > ul.active{
    display: block !important;
    transition:1s;
}

nav.menu-mobile > ul > li{
    display:none;
    width:100%;
    padding:8px 0;
    border-bottom:1px solid #000;
}

nav.menu-mobile > ul > li > a{
    display:none;
    width:100%;
    color:black;
    display:block;
    cursor: pointer;
    text-decoration:none;
}
nav.menu-mobile > ul > li:hover{
    background-color: #bbb;
}

nav.menu-desktop{
    width:50%;
}
nav.menu-desktop ul{
    text-align:right;
    list-style-type:none;
}
nav.menu-desktop ul li{
    position:relative;
    display:inline-block;
    transition:1s;
    margin:0 10px;
}

nav.menu-desktop ul li:after{
    content:'ok';
    width:0px;
    height:3px;
    position: absolute;
    top:25px;
    left:0;
    border-radius:10px;
    background-color: #fff;
    transition:.5s ease-out;
}
nav.menu-desktop ul li:hover:after{
    content:'ok';
    width:100%;
    height:3px;
    position: absolute;
    top:25px;
    left:0;
    border-radius:10px;
    background-color: #fff;
}

nav.menu-desktop ul li a{
    font-family:roboto;
    text-decoration:none;
    color:#fff;
}



.w100{
    width:100%;
    display: flex;
    background-color:#000;
}

.w50{
    width:50%;
    height:500px;
    display: flex;
    align-items: center;
    background-color:#000;
}

.perfil{
    width:450px;
    margin-left:40%;
    height:140px;
    background-color:#000;
    border-left:3px solid #fff;
    transition:1s;
}
.perfil p{
    font-size:12px;
    color:#fff;
    margin-left:20px;
    transition:1s;
}
.perfil h2{
    font-size:38px;
    font-weight:normal;
    color:#fff;
    margin-left:17px;
    transition:1s;
}
.perfil h3{
    font-size:24px;
    font-weight:lighter;
    color:#fff;
    margin-left:30px;
    transition:1s;
}
.perfil button{
    width:100px;
    height:35px;
    border:0;
    outline:none;
    cursor: pointer;
    color:#fff;
    margin-left:30px;
    margin-top:15px;
    background-color:var(--color1);
    transition:1s;
}

.perfil button a{
    color:#fff;
    display: block;
    padding:8px ;
    text-decoration:none;
}
.perfil button:hover{
    color:var(--color2);
    font-size:13px;
    border:2px solid var(--color2);
}

.social-media{
    margin:50px 0;
}
.social-media .fa{
    cursor: pointer;
    transition:1s;
}
.social-media .fa:hover{
    text-shadow:0px 0px 10px #fffff0,
                0px 0px 20px #fffff0;
}

.perfil.left{
    display:none;
}

.bg-perfil{
    width:60%;
    height:500px;
    display: flex;
    border-radius:320px 0 0 0;
    background-image:url('../img/desktop1\ 1.png');
    background-size: cover;
    background-position:center;
}
.bg-perfil img{
    height:100%;
}
.bg-perfil ul{
    margin-top:60px;
    font-family: 'Raleway', sans-serif;
}
.bg-perfil ul li{
    margin:18px 0;
    font-size:20px;
    color:#fff;
}
.hello{
    max-width:300px;
}
.hello h2{
    margin-top:80px;
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    color:#fff;
}
.hello p{
    color:#fff;
    font-family: 'Raleway', sans-serif;
}
section.Qualification{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.titulo-section{
    text-align: center;
    margin-left:10px;
}
.titulo-section > p{
    font-weight:bold;
    font-size:12px;
    transition:1s;
}
.titulo-section > h2{
    display:inline-block;
    font-size:38px;
    transition:1s;
    border-bottom:1px solid #000;
}

.titulo{
    margin-top:60px;
    margin-right:10px;
    transition:1s;
}
.titulo .fa-book{color:#000;font-size:38px;display:inline;}
.titulo p{
    font-family: arial, sans-serif;
    font-size:38px;
    display:inline;
    transition:1s;
}

.box-Education{
    width:350px;
    height:90px;
    font-family: 'Raleway', sans-serif;
    border-bottom:2px solid #000;
    margin-top:25px;
    transition:1s;
}

.box-education-info{
    display:flex;
    justify-content: space-between;
}
.box-education-info span{
    color:var(--color1);
    font-weight:bold;
    margin-left:10px;
}

.box-Education p{
    display:inline-block;
    padding:10px 0;
}

section.Portfolio{
    font-family: 'Raleway', sans-serif;
}

.menu-portfolio{
    margin:50px 0 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition:1s;
}

.menu-portfolio p{
    margin:0 10px;
    font-size:18px;
    font-weight:bold;
    /* cursor: pointer; */
    transition:1s;
}

/* .menu-portfolio p.selected{
    color:var(--color1);
    text-decoration:underline;
}  */

.box-works-single{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-work{
    margin:15px;
    padding:10px;
    display:block;
    opacity:1;
    box-shadow: 3px 3px 3px #ccc8;
    transition:1s;
}

.box-work.opacity{
    opacity:1 !important;
}

.box-work .image{
    width:250px;
    height:250px;
    transition:1s;
}
.box-work .image img{
    width:100%;
    height:250px;
    object-fit:cover;
    object-position:top;
    border-bottom:3px solid #c2c2c278;
}

.box-work a{
    font-size:12px;
    padding:10px 0;  
}

.box-work p{
    font-size:12px;
    margin:10px 0;  
}
.box-work h2{
    font-size:18px;
}

section.contact{
    margin: 0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.titulo-section{
    margin:60px 0;
}

.info-contact{
    width:800px;
    height:300px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.info-contact i{
    font-size:40px;
    color:#010203;
}
.info-contact p{
    margin:5px 1%;
    color:#010203;
}

.w50-info{
    width:50%;
}

.info-phone{
    margin-bottom:40px;
}

.info-chat{
    margin-bottom:15px;
}
.info-chat .social-media{
    margin:0;
}
.info-chat .social-media a > i.fa{
    font-size:30px;
    color:#010203;
}


footer{
    width:100%;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    text-align: center;
}
footer h2{
    font-size:38px;
    margin:10px;
    color: #fff;
}
footer p{
    margin:10px;
    color: #fff;
    font-size:18px;
}

footer > a.plataforma{
    font-family:'roboto';
    font-size:14px;
    font-weight:normal;
    color:var(--color1);
    padding:5px;
    margin:8px 0;
    border-radius:4px;
    background-color: #000;
}
footer a.plataforma:hover{
    color:#fff;
    background-color: #318ADC;
}

div.copy{
    width:100%;
    padding:20px;
    text-align: center;
    background-color: #000;
    border-top:2px solid var(--firstcolor);
}
.copy p{
    color:white;
}

/* 

    Media Query

*/

@media screen and (max-width:1200px){
    .w50{width:30%;}
    .perfil{
        text-align: center;
        border:0;
        margin:0;
        z-index:2;
        background-color:transparent;
    }
    .perfil button{margin-left:0;}

    .bg-perfil{
        width:100%;
        z-index:1;
    }
    .bg-perfil img{
        height:100%;   
    }
    
}

@media screen and (max-width:1058px){
    .w50{
        width:0;
        display: none;
    }
    
    .hello{
        display:none;
    }
    .bg-perfil ul{
        display:none;
    }
    .perfil.left{
        display:block;
        width:100%;
        margin-top:80px;
    }
    .perfil p{margin-left:0;}
    .perfil h2{ margin-left:0;}
    .perfil h3{margin-left:0;}
    .perfil button{margin-left:0;}

    .info-contact{width:600px;margin-bottom:50px;}
}

@media screen and (max-width:730px){

    .menu-desktop{
        display:none;
    }

    .flex{
        width:100%;
        justify-content: space-between;
    }
    h2.name{
        margin:0 30px ;
    }
    .fa-bars{
        display:inline-block;
        font-size:28px;
    }

    nav.menu-mobile > ul > li{
        display:inline-block;
        transition:2s;
    }
    nav.menu-mobile > ul > li > a{
        display:inline-block;
    }

    .perfil.left{
        margin:0;
        padding:0;
        display:block;
        width:100%;
        margin-top:170px;
    }
    .bg-perfil img{display:none;}

    .info-contact{width:100%;}
}

@media screen and (max-width:660px){
    
    .menu-portfolio{display:none;}

    .box-works-single{
        flex-direction:row;
        flex-wrap:nowrap;
        overflow:hidden;
        position: relative;
        height:500px;
    }

    .box-work{
        position:absolute;
        top:50%;
        left:50%;
        display:block;
        opacity:0;
        transform:translate(-50%,-50%);
        transition:1s;
    }

    .box-work a{
        display: none;
    }
    

/* btn slider */
    .bullets{

        text-align: center;
    }

    .bullets-single{
        margin:0 8px;
        border-radius:15px;
        cursor:pointer;
        display:inline-block;
        width:25px;
        height:25px;
        background-color:#ccc;
    }

    .bullets-single.active-bullets{
        background-color:var(--color1);
    }

    .info-contact{
        width:100%;
        height:500px;
        text-align: center;
        flex-direction: column;  
    }
    .w50-info{width:100%;margin-top:20px;}
    
}

@media screen and (max-width:450px){
    .box-Education{
        width:250px;
        height:120px;
        text-align: center;
    }

    .bullets-single{
        margin:5px 10px;
        border-radius:20px;
        cursor:pointer;
        display:inline-block;
        width:30px;
        height:30px;
        background-color:#ccc;
    }
    
}